¿Cómo agregar una lista a un DataFrame?

In [2]:
import pandas as pd
personas = {
    "nombre": ["Dimas","Juan","Jose"],
    "edad":[20,23,25],
    "dni": ["48014003P","48014003P","48014003P"]
}

df = pd.DataFrame(personas)
#Método 1: Sintaxis básica
df["Profesiones"] = ["Ingeniero","Maestro","Bombero"]
#Método 2: Assign
df = df.assign(sueldo=[20000,30e3,40e3])
#Método 3: insert
#El método insert modifica directamente el DF por lo que no tenemos que reasignarlo
df.insert(3, "email",["dimas@email","juan@email","jose@jose"])
df

  nombre  edad        dni        email Profesiones   sueldo
0  Dimas    20  48014003P  dimas@email   Ingeniero  20000.0
1   Juan    23  48014003P   juan@email     Maestro  30000.0
2   Jose    25  48014003P    jose@jose     Bombero  40000.0