In [32]:
import pandas as pd

df = pd.read_csv('Examen ECBD M1 2025/adult-train-clean3.csv')

In [33]:
df["relationship"].value_counts()

relationship
Husband           8874
Not-in-family     3850
Own-child         2088
Unmarried         1542
Wife              1080
Other-relative     382
Name: count, dtype: int64

In [34]:
df["race"].value_counts()

race
White                 15466
Black                  1513
Asian-Pac-Islander      571
Amer-Indian-Eskimo      148
Other                   118
Name: count, dtype: int64

In [35]:
Y=df.iloc[:,-1]
Y.head()

0    ingreso_bajo
1    ingreso_bajo
2    ingreso_alto
3    ingreso_alto
4    ingreso_alto
Name: class, dtype: object

In [36]:
df["class"].unique()

array(['ingreso_bajo', 'ingreso_alto'], dtype=object)

In [37]:
df["class"].value_counts()

class
ingreso_bajo    9975
ingreso_alto    7841
Name: count, dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17816 entries, 0 to 17815
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             17816 non-null  int64
 1   workclass       16964 non-null  object
 2   fnlwgt          17816 non-null  int64
 3   education       17816 non-null  object
 4   education-num   16613 non-null  float64
 5   marital-status  17816 non-null  object
 6   occupation      16963 non-null  object
 7   relationship    17816 non-null  object
 8   race            17816 non-null  object
 9   sex             17816 non-null  object
 10  capital-gain    17816 non-null  int64
 11  capital-loss    17816 non-null  int64
 12  hours-per-week  16424 non-null  float64
 13  native-country  17501 non-null  object
 14  class           17816 non-null  object
dtypes: float64(2), int64(4), object(9)
memory usage: 2.0+ MB

In [39]:
df.isnull().sum()

age                  0
workclass          852
fnlwgt               0
education            0
education-num     1203
marital-status       0
occupation         853
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week    1392
native-country     315
class                0
dtype: int64

In [40]:
df["education-num"].unique()

array([13.,  9., 14., 10., 11.,  4.,  7., 16., 12., 15., nan,  6.,  5.,
        3.,  8.,  2.,  1.])

In [41]:
df["hours-per-week"].unique()

array([13., 40., 45., 50., nan, 35., 60., 20., 44., 15., 38., 43., 55.,
       58., 70.,  2., 48., 28., 30., 24., 46., 65., 42.,  1., 36., 12.,
       34., 75., 98., 80., 33., 54., 25.,  6., 16.,  8., 47., 64., 26.,
       32.,  5., 59., 18., 56., 52., 99., 62., 41., 72., 37.,  7., 78.,
       90., 21., 84., 10.,  3., 53., 68., 22., 49., 11., 27.,  9., 66.,
       31., 14., 77., 63., 39., 23., 87., 73., 17., 97.,  4., 29., 85.,
       19., 67., 57., 82., 86., 91., 81., 51., 76., 61., 96., 74., 95.,
       89.])

In [42]:
from sklearn.impute import SimpleImputer
nominal_mode_cols = ['workclass', 'occupation', 'native-country']
mode_imputer = SimpleImputer(strategy='most_frequent')
df[nominal_mode_cols] = mode_imputer.fit_transform(df[nominal_mode_cols])

numeric_median_cols = ['education-num', 'hours-per-week']
median_imputer = SimpleImputer(strategy='median')
df[numeric_median_cols] = median_imputer.fit_transform(df[numeric_median_cols])

df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
class             0
dtype: int64

In [43]:
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
education_order = [' Bachelors', ' HS-grad', ' Masters', ' Some-college',
       ' Assoc-voc', ' 7th-8th', ' 11th', ' Doctorate', ' Assoc-acdm',
       ' Prof-school', ' 10th', ' 9th', ' 1st-4th', ' 5th-6th', ' 12th',
       ' Preschool']
country_order=[' United-States', ' India', ' Mexico', ' South',
       ' Puerto-Rico', ' Honduras', ' Canada', ' Iran', ' England',
       ' Italy', ' Cambodia', ' Thailand', ' Germany', ' Taiwan',
       ' Portugal', ' El-Salvador', ' France', ' Cuba', ' Philippines',
       ' Poland', ' Guatemala', ' China', ' Japan', ' Yugoslavia',
       ' Jamaica', ' Outlying-US(Guam-USVI-etc)', ' Haiti',
       ' Dominican-Republic', ' Nicaragua', ' Greece', ' Trinadad&Tobago',
       ' Columbia', ' Peru', ' Vietnam', ' Ecuador', ' Ireland', ' Laos',
       ' Scotland', ' Hungary', ' Hong']
ordinal_cols = ['education', 'native-country']
ordinal_mappings = [
    education_order, country_order
]
ordinal_encoder = OrdinalEncoder(categories=ordinal_mappings)
df[ordinal_cols]= ordinal_encoder.fit_transform(df[ordinal_cols])

In [44]:
nominal_cols = ['relationship', 'race', 'sex', 'workclass', 'occupation','marital-status']
df = pd.get_dummies(df, columns=nominal_cols, drop_first=True, dtype=int)
X=df.drop(['class'], axis=1)

In [45]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [46]:
from sklearn.model_selection import cross_val_score, KFold
from sklearn.svm import SVC
model=SVC(kernel='linear',random_state=42)
scores=cross_val_score(model, X, Y, cv=4)
scores.mean()

np.float64(0.8105074090704985)