In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [8]:
train = df[df['Age'].notna()]
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
train.shape

(714, 12)

In [10]:
test =df[df['Age'].isna()]
test.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q

In [11]:
test.shape

(177, 12)

In [12]:
cols =['Survived','Pclass','SibSp','Parch','Fare']
x_train = train[cols]
x_train.head()

   Survived  Pclass  SibSp  Parch     Fare
0         0       3      1      0   7.2500
1         1       1      1      0  71.2833
2         1       3      0      0   7.9250
3         1       1      1      0  53.1000
4         0       3      0      0   8.0500

In [13]:
y_train = train['Age']
y_train.head()

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: Age, dtype: float64

In [14]:
x_test = test[cols]
x_test.head()

    Survived  Pclass  SibSp  Parch     Fare
5          0       3      0      0   8.4583
17         1       2      0      0  13.0000
19         1       3      0      0   7.2250
26         0       3      0      0   7.2250
28         1       3      0      0   7.8792

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
reg = LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [17]:
y_pred = reg.predict(x_test)
y_pred

array([29.10365072, 30.28599706, 22.34051807, 29.12204512, 22.33076082,
       29.11204028, 32.3313864 , 22.33268781, 22.34045543, 29.11204028,
       29.10974042, 25.00383597, 22.33268781, 20.91688521, 37.98202639,
       44.87957848, 17.4341006 , 29.11204028, 29.10974042, 22.3321285 ,
       29.10974042, 29.10974042, 29.11204028, 22.33231494, 18.09329608,
       29.10974042, 29.11421486, 17.32801924, 27.41841735, 29.12074007,
       29.10060512, -5.34983262, 36.89918856, 44.90636244, 16.07360648,
       -5.34983262, 37.03694882, 44.54728915, 18.22230892, 29.11421486,
       22.33268781, -5.34983262, 25.1194255 , 29.11204028, 16.07360648,
       29.11719781, 25.01943384, 18.22230892, 29.12167225, 37.33025057,
       29.11421486, 29.11421486, 44.83066994, 22.33268781, 37.26141623,
       44.90524384, 44.87957848, 38.05660028, 22.33268781, 14.11193003,
       30.29569167, 29.10974042, 36.85770117, -5.34983262, 14.11193003,
       32.52335153, 29.11204028, 18.21336005, 44.77101083, 29.12204512,
       22.33076082, 22.33076082, 25.00383597, 22.34045543, 22.33268781,
       33.29115239, 29.11204028, 29.11452508, 16.07360648, 29.11204028,
       29.12751437, 37.26141623, 29.10974042, 29.11204028, 29.12167225,
       29.11421486, 18.21336005, 22.3272812 , 24.93721613, 29.10974042,
       33.74319397, 29.11421486, 29.10974042, 37.26141623, 29.11458773,
       29.12167225, 44.5174596 , 37.26141623, 16.07360648, 24.93721613,
       29.01416205, 29.00459124, 29.11601656, 38.11551366, 29.10974042,
       28.86961249, 29.12204512, 29.12198247, 41.98524045, 29.12198247,
       20.53080894, 29.0135401 , 30.27313307, 29.11303361, 41.89954311,
       29.11421486, 29.10974042, 29.10974042, 29.12198247, 22.33268781,
       25.01937269, 29.09985938, 29.10974042, 27.53021555, 29.9877015 ,
       29.12204512, 29.11204028, 44.66064147, 29.1246552 , 18.22230892,
       29.11421486, 29.11446393, 45.29302807, 24.9948871 , 21.605655  ,
       29.11719781, 29.11204028, 22.33150656, 29.11204028, 29.11384199,
       33.74114319, 37.26141623, 29.10843538, 21.605655  , 22.33293689,
       17.4341006 , 44.89704071, 28.99862532, 22.33287424, 37.26141623,
       29.11204028, 29.11204028, 38.06405767, 29.0135401 , 44.70240285,
       24.87482313, 29.12204512, 29.11421486, 29.11440129, 23.30126417,
       29.11421486, -5.34983262, 44.83520702, 45.29302807, 29.12614668,
       28.38718205, 22.33268781, 29.12198247, 29.10974042, 38.06853211,
       -5.34983262, 33.18774227, 29.12198247, -5.34983262, 29.088114  ,
       29.11204028, 23.30126417])

In [18]:
df.loc[df['Age'].isna(),'Age']=y_pred

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [17]:
train = df[df['Embarked'].notna()]
test = df[df['Embarked'].isna()]

x_train = train[cols]
y_train = train['Embarked']

x_test = test[cols]

#crear un modelo knn
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

y_pred = knn.predict(x_test)
y_pred

array(['C', 'C'], dtype=object)

In [18]:
df.loc[df['Embarked'].isna(), 'Embarked'] = y_pred
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB